* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
a,
.Name,
.Brand,
.Kaat,
.tel,
.city {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
header {
  display: flex;
}
.headflex {
  flex-direction: column;
}

.logo-img {
  width: 132px;
  height: 100px;
  object-fit: cover;
}
.Welcome {
  font-size: 55px;
  text-transform: capitalize;
  font-style: normal;
  color: rgb(185, 42, 56);
  margin-left: 180px;
}

.Welcome-1 {
  font-size: 55px;
  text-transform: capitalize;
  font-style: normal;
  color: rgb(185, 42, 56);
  margin-left: 300px;
}

.img {
  width: 140px;
  height: 170px;
  justify-content: center;
}

.container {
  max-width: 1300px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input :valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}
.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #9b59b6;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, rgb(185, 42, 56), #b66959);
}

form .button input:hover {
  background: linear-gradient(135deg, rgb(185, 42, 56), #b66959);
}
button {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, rgb(185, 42, 56), #b66959);
}

button:hover {
  background: linear-gradient(135deg, rgb(185, 42, 56), #b66959);
}

footer {
  clear: both;
  align-items: center;
}

.Name,
.Brand,
.Kaat,
.tel,
.city {
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
  text-transform: capitalize;
  font-style: normal;
  /* //color: rgb(185, 42, 56); */
}

.foot {
  text-align: center;
}

.foot .img {
  align-items: center;
}

.error{
  color: red;
  text-align: center;
  padding:10px;
}
.good{
  color: green;
  text-align: center;
  padding:10px;
}

.tooltip {
  position: absolute;
  background: white; /* Set the background color to white */
  color: black; /* Set the font color to black */
  padding: 5px;
  z-index: 9999;
  width: 400px;
  height:200px;
}
#copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 18px;
}